node_modules/
frontend/node_modules/
backend/venv/
venv/
.env
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
db.sqlite3
.idea/
.vscode/
dist/
build/
